:root {
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --color-nav: #434455;
  --color-hover-nav: #4d5ae5;
  --color-hover-white: #ffffff;
  --color-background-button: #f4f4fd;
}
/* .studio{
  color: var(--ocean);
} */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--color-nav);
  line-height: 2;
  background-color: var(--color-hover-white);
}


/* header */
.nav_link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--navy-blue);
}

.nav_link_address {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--color-nav);
}

.nav_link_address:hover {
  color: var(--ocean);
}
.nav_link_address:focus {
  color: var(--ocean);
}

.nav_link:hover {
  color: var(--ocean);
}
.nav_link:focus {
  color: var(--ocean);
}

.sub-link-teg {
  color: var(--navy-blue);
 
}

.link {
  text-decoration: none;
}

.link_logo {
  color: var(--color-hover-nav);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.sub-link {
  color: var(--ocean);
  font-weight: 500;
  text-decoration: none;
}

.link:focus {
  color: var(--ocean);
}

.list {
  list-style: none;
}

.button-labels {
  color: var(--color-hover-nav);
  cursor: pointer;
  background-color: var(--color-background-button);
  border: none;
  font-weight: 500;
}

.button-labels:hover {
  color: var(--color-hover-white);
  background-color: var(--ocean);
}


.address_studio {
  font-style: normal;
}
/* main  */
.section_one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:var(--color-hover-white);
  background-color: var(--navy-blue);
}
.title_section_one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-hover-white);
  background-color: var(--navy-blue);
}

.button_text {
  background-color:var(--color-hover-nav);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-hover-white);
  cursor: pointer;
}
.button_text:hover {
  background-color:var(--ocean);
}
.button_text:focus {
  background-color: var(--ocean);
}
.title_section_two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.description_section_two {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title_section_three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.section_four {
  background-color:var(--color-background-button);
}
.hide_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.title {
  background-color: var(--color-hover-white);
}
.title_section_four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:var(--navy-blue);
}
.description_section_four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* fotter */
.foot_title {
  background-color: var(--navy-blue);
}

.link_logo {
  color: var(--color-hover-nav);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio {
  color: var(--color-background-button);
  font-weight: 500;
  text-decoration: none;
}

.button-labels_list {
  font-family: "Roboto", sans-serif;
  color: var(--color-hover-nav);
  cursor: pointer;
  background-color: var(--color-background-button);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-labels_list:hover,
.button-labels_list:focus {
  color:var(--color-hover-white);
  background-color: var(--ocean);
}
/* portfolio */
.card-link-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.card-link-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-nav);
}
.accent {
  
  
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.02em;
  color:var(--color-background-button);
}

/* стилі  */
.container {
  outline: solid 2px tomato;
  width: 1158px;
  margin:0 auto;
  padding: 0 15px;

}
h1, 
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.pic {
  display: block;
}

.heading {
  border-bottom: 1px solid #e7e9fc;
}
.container,
.items {
  display: flex;
  align-items: center;
}
.link_logo {
  margin-right: 76px ;

}
.list {
  display: flex;
  gap: 40px;
  margin-right: 40px 0px;
  

}
 .blockquote { 
  padding-top: 24px;
  padding-bottom: 24px;
}
/* section_one*/
.section_one {
  padding-top: 188px;
  padding-bottom: 188px;
}
.title_section_one {
  max-width: 496px; 
  }

.button_text {
  min-width: 169px;
  height: 56px ;
  border:  none; 
}
